* {
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    height: 100%;
}

#messages {
    position: absolute;
    bottom: 0;
    height: 20%;
    overflow-y: auto;
}

    #messages p {
        margin: 0.5rem 0;
        padding: 0.25rem;
        border-bottom: 1px dotted #ccc;
    }

    .error {
        color: #f00;
    }

    .ok {
        color: #080;
    }
